<app-header (passdata)="fav1($event)" (passdata)="home($event)"></app-header>
<div class="background">
<!-- <div class="top"></div> -->
<div *ngIf="!favourite" class="container">
    <div class="product-card">
        <div *ngFor="let product of products" class="product">
            <div class="img-div">
                <img class="product-image" [src]="product.imagePath"/>
                <p class="prod-name">{{product.name}}</p>
            </div>
            <p>price:{{product.price}}$</p>
            <p>Quantity:{{product.quantity}}</p>
            <button (click)="addToCartFunction(product.name)" class="cart-btn" *ngIf="isAdmin!='true'&& product.quantity>0">Add to cart</button>
            <button class="cart-btn-disable" *ngIf="isAdmin!='true'&& product.quantity==0">Out of stack</button>
        </div>
    </div>
</div>
<div *ngIf="favourite" class="container">
    <div >
        <div class="fav-div" *ngFor="let fav of filteredProducts;let i=index"  >
            <div class="fav-div1">
                <img class="fav-img" [src]="fav.imagePath"/>
                <p>{{fav.name}}</p>
            </div>
            <p>price:{{fav.price*this.requiredQuantity[i].quantity}}</p>
            <div class="quantity-block">
                <div class="quantity-div">
                    <button class="quantity-btn" (click)="minusFunction(fav.name)">minus</button>
                    <p>{{this.requiredQuantity[i].quantity}}</p>
                    <button class="quantity-btn" (click)="plusFunction(fav.name)">plus</button>
                </div>
                <button class="fav-btn" (click)="removeFavourite(fav.name)">Remove</button>
            </div>
        </div>
        <p>Total Price:{{totalPrice}}</p>
    </div>
</div>
</div>
<Footer>

</Footer>


